@model StoreApp.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body>
    <h3>@Model.ProductName</h3>
    <h3>@Model.Price</h3>
    <a href="/Product">Products</a>
</body>
</html>
