@model List<StoreApp.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <div>
            <p>@item.ProductName</p>
            <p>@item.Price</p>
            <p>
                <a href="/Product/Get/@item.ProductID">Get Details</a>
            </p>
        </div>

    }
</body>
</html>
